 .ck-toolbar_grouping{
    background: rgb(24 24 27) !important;
    color: #fff !important;
}


 .ck-editor__editable_inline {
    background: rgb(24 24 27) !important;
    color: #fff !important;
}

.ck-button {
    color: #fff !important;
}