 body.dark .ck-toolbar_grouping{
    background: rgb(24 24 27) !important;
    color: #fff !important;
}


 body.dark .ck-editor__editable_inline {
    background: rgb(24 24 27) !important;
    color: #fff !important;
}

body.dark .ck-button {
    color: #fff !important;
}